body {
	position: absolute;
	width: 100%;
	min-height: 100%;
}
.approvedmap{
    /*font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;*/
    font-size: 13px;
    /*line-height: 1.42857143;*/
    color: #333;
    background-color: #fff;
}
/*共用*/

.approvedmap .goto {
	width: 100%;
	height: 47px;
	line-height: 47px;
	/*background-color: #ebebeb;*/
	/*background-color: #e7f1fd;*/
	font-size: 16px;
	font-weight: bold;
	/*padding: 4px 0px 4px 10px;*/
	cursor: pointer;
	background: url("../images/fpqkbg.png") no-repeat;
	text-align: center;
	background-size: 100% 100%;
}

.approvedmap .goto:hover {
	background-color: #b4e6ff;
}

.approvedmap .goto.active {
	background-color: #b4e6ff;
}

.approved-track-detail .icon-arrows-right,
.violate-project-detail .icon-arrows-right {
	float: right;
	margin-right: 10px;
	font-size: 16px;
	padding: 3px 0px;
	color: #a0a0a0;
}

.icon-arrows-right:before {
	content: "\e627";
}

.approved-track-detail .summary,
.violate-project-detail .summary {
	width: 100%;
	height: auto;
	padding: 10px 20px;
	font-size: 12px;
	color: #505050;
}

.approved-track-detail .table,
.approved-track-detail .table {
	margin-bottom: 0px;
	border-collapse: collapse;

}
.approved-track-detail .table,.approved-track-detail .table th,.approved-track-detail .table td{
	border: 1px solid #ddd;
}
.approved-track-detail .table > thead > tr,
.violate-project-detail .table > thead > tr,
.approved-track-detail .table > tbody > tr,
.violate-project-detail .table > tbody > tr {
	min-height: 30px;
	height: 30px;
}

/*.approved-track-detail .table > thead > tr > th,
.violate-project-detail .table > thead > tr > th {
	border-bottom: none;
	vertical-align: middle;
	text-align: center;
	background-color: #f0f0f0;
	font-weight: normal;
	padding: 4px 4px;
}*/

.approved-track-detail .table > tbody > tr > td,
.violate-project-detail .table > tbody > tr > td {
	vertical-align: middle;
	text-align: center;
	font-weight: normal;
	font-size: 12px;
	padding: 4px 4px;
}

.approved-track-detail .approvedPie,
.violate-project-detail .violatePie {
	width: 100%;
	height: 150px;
	/*padding: 0px 20px 0px 0px;*/
}

.approved-track-detail .table > thead > tr > th.region,
.violate-project-detail .table > thead > tr > th.region {
	font-weight: bold;
}

.title {
	font-family: "微软雅黑";
	/*color: #6baedb;*/
	color: #ffffff;
	/*background: url("images/tip_icon.png") no-repeat;*/
	font-size: 14px;
	font-weight: normal;
}

.o_subst_info {
	height: 80% !important;
	padding: 4px 4px 0;
}

.info {
	padding: 6px 8px;
	font: 14px/16px Arial, Helvetica, sans-serif;
	background: white;
	background: rgba(255, 255, 255, 0.8);
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
	border-radius: 5px;
}

.info h4 {
	margin: 0 0 5px;
	color: #777;
}

.legend {
	text-align: left;
	line-height: 18px;
	color: #555;
}

.legend i {
	width: 18px;
	height: 18px;
	float: left;
	margin-right: 8px;
	opacity: 0.7;
}

.detailDiv {
	width: 118px;
	height: 118px;
	float: right;
	margin-left: 8px;
	opacity: 0.7;
}

.my-div-icon {
	z-index: 10 !important;
	color: #0000ff;
	font-size: 12px;
	width: 75px !important;
	font-weight: bold;
	font-family: "微软雅黑";
}

.my-div-icon1 {
	z-index: 10 !important;
	color: #2a69b4;
	font-size: 10px;
	width: 55px !important;
}

.mapchart {
	width: 50px;
	height: 50px;
}

table.imagetable {
	font-family: verdana, arial, sans-serif;
	font-size: 11px;
	color: #333333;
	border-width: 1px;
	width: 100%;
	/*margin-top:5% ;*/
	border-color: #999999;
	border-collapse: collapse;
	/*margin: auto;*/
}

table.imagetable th {
	background: #b5cfd2 url('cell-blue.jpg');
	border-width: 1px;
	padding: 12px;
	border-style: solid;
	border-color: #999999;
}

table.imagetable td {
	background: #dcddc0 url('cell-grey.jpg');
	border-width: 1px;
	padding: 12px;
	border-style: solid;
	border-color: #999999;
}

table.gridtable {
	font-family: verdana, arial, sans-serif;
	font-size: 9px;
	color: #333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
}

table.gridtable th {
	border-width: 1px;
	padding: 5px;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
	width: 135px;
}

table.gridtable td {
	border-width: 1px;
	padding: 5px;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
	width: 135px;
}

.dtdiv1 {
	top: 0px;
}

.tabLeft11 {
    float: left;
    width: 25px;
    position: absolute;
    left: -25px;
    top: 35%;
    }

.tabLeft11 span {
    background: url("../images/rightTabbg1_new.png") no-repeat -8px 0;
    display: inline-block;
    font-size: 13px;
    text-align: center;
    width: 25px;
    /*height: 120px;*/
    cursor: pointer;
    line-height: 14px;
    padding-top: 40px;
    height: 120px;
}

.table-bordered {
    border: 1px solid #ddd;
}
/*.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}*/
/* body{
  margin: 0;
  padding: 0;
  font-family: "微软雅黑";
  font-size: 12px;
} */

.showRightDiv {
    right: 0px;
    top: 50%;
    position: absolute;
    z-index: 2;
    width: 25px;
    height: 120px;
    font-size: 13px;
    text-align: center;
}

.showRightDiv span {
    font-size: 13px;
    background: url("../images/rightTabbg2.png") no-repeat -8px 0;
    display: inline-block;
    font-size: 13px;
    text-align: center;
    width: 25px;
    height: 120px;
    cursor: pointer;
    line-height: 17px;
    padding-top: 43px;
    color: #ffffff;
    padding-top: 23px;
}

.rightdiv1 {
    width: 396px;
    height: 100%;
    right: 0px;
    top: 120px;
    position: absolute;
    z-index: 2;
    /* background-color: #FFF; */
}

