body {
    margin: 0;
    padding: 0;
    font-family: "微软雅黑";
}

.clear {
    clear: both;
}
img{
    border: none;
}

.top {
    /*width: 100%;*/
    height: 110px;
    background-color: #e8f5fb;
    border-bottom: 1px solid #adb8be;
    padding: 10px 20px 0 20px;
}

.logo {
    float: left;
    margin-top: 10px;
    margin-left: 20px;
}

.optEntry {
    float: right;
    margin-top: 15px;
    margin-right: 35px;
}

.optEntry a {
    display: inline-block;
    width: 26px;
    height: 26px;
    margin: 0 3px;
}


/*.optEntry a img{
	margin: 0 5px;
}*/

.menu_new ul {
    font-size: 0;
    margin: 0;
    padding: 0;
}

.menu_new ul li {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 100px;
    text-align: center;
    height: 50px;
    line-height: 50px;
}

.menu_new ul li a {
    color: #333333;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
}

.menu_new ul li:visited a,
.menu_new ul li:hover a,
.menu_new ul li:active a {
    color: #2e83d7;
    text-decoration: none;
    background-color: transparent;
}

.top .menu_new .current a {
    color: #2e83d7;
}
